@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0E111A;
    height: 100%;
    min-width: 320px !important;
}

._section {
    @apply w-full
}
._wrapper {
    @apply px-5 max-w-[1200px] mx-auto
}
._h{
    @apply uppercase text-center block w-full
        leading-none
        text-[28px] xs:text-[36px] sm:text-[42px] md:text-[48px] lg:text-[56px] xl:text-[60px]
}
._button{
    @apply font-extrabold text-center text-[16px] xs:text-[18px] sm:text-[20px] md:text-[22px] py-3.5 sm:py-4 md:py-5 lg:py-7 rounded-lg md:rounded-[20px] uppercase block
}
._text-14-20{
    @apply text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] 
}
._text-12-20{
    @apply text-[12px] xs:text-[14px] sm:text-[16px] md:text-[18px] lg:text-[20px] 
}
._text-16-20{
    @apply text-[16px] sm:text-[18px] md:text-[20px]
}
._text-16-22{
    @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px]
}
._text-20-28{
    @apply text-[20px] sm:text-[22px] md:text-[24px] lg:text-[26px] xl:text-[28px] 
}
._text-18-28{
    @apply text-[18px] xs:text-[20px] sm:text-[22px] md:text-[24px] lg:text-[26px] xl:text-[28px] 
}
._text-18-40{
    @apply text-[18px] xs:text-[22px] sm:text-[26px] md:text-[32px] lg:text-[36px] xl:text-[40px] 
}
@keyframes _fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  /* Добавляем класс с анимацией */
._animate-fade-out {
    animation: _fade-out 3s ease-in-out;
}

@keyframes _scale {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
}
._animate-scale {
    animation: _scale 5s ease-in-out infinite;
}

@keyframes _moveDown {
    0%, 100% {
        top: -25%;
    }
    50% {
        top: 0%;
    }
}
._animate-moveDown {
    animation: _moveDown 10s ease-in-out infinite;
}

@keyframes _moveUp {
    0%, 100% {
        top: 0%;
    }
    50% {
        top: -25%;
    }
}
._animate-moveUp {
    animation: _moveUp 10s ease-in-out infinite;
}
